# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build output
.output/
stats.html
stats-*.json

# WXT config and build artifacts
.wxt/
web-ext.config.ts

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other system files
Thumbs.db
ehthumbs.db
